html, body {
  background: #004ec0;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif; }

.centered {
  margin: 0 auto; }

.max-width {
  width: 1200px; }

.strd-width {
  width: 1000px; }

.full-width {
  width: 100%; }

@media (max-width: 1000px) {
  .max-width {
    width: 100%; }

  .strd-width {
    width: 100%; } }
@media (max-width: 1200px) {
  .max-width {
    width: 100%; } }
.main-blue-grad-bg {
  background: #004ec1; }

@media (min-width: 1400px) {
  .main-blue-grad-bg {
    background: #13253b;
    /* Old browsers */
    background: -moz-linear-gradient(left, #13253b 0%, #003c94 0%, #014fc1 20%, #014fc1 82%, #003c94 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #13253b), color-stop(0%, #003c94), color-stop(20%, #014fc1), color-stop(82%, #014fc1), color-stop(100%, #003c94));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #13253b 0%, #003c94 0%, #014fc1 20%, #014fc1 82%, #003c94 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #13253b 0%, #003c94 0%, #014fc1 20%, #014fc1 82%, #003c94 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #13253b 0%, #003c94 0%, #014fc1 20%, #014fc1 82%, #003c94 100%);
    /* IE10+ */
    background: linear-gradient(to right, #13253b 0%, #003c94 0%, #014fc1 20%, #014fc1 82%, #003c94 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13253b', endColorstr='#003c94',GradientType=1 );
    /* IE6-9 */ } }
#page-header {
  color: white; }
  #page-header a:link {
    color: white; }

#main-nav {
  float: left; }
  #main-nav #menu-main-nav {
    margin-top: 20px; }

@media (min-width: 1200px) {
  #main-nav {
    margin-left: 40px; } }
@media (max-width: 800px) {
  #page-header #logo-holder {
    margin: 0 auto;
    width: 100%;
    text-align: center; }
  #page-header img#logo {
    float: none; }
  #page-header img#logo-text {
    float: none; } }
#logo-holder {
  height: 120px;
  width: 45%;
  float: left; }

img#logo {
  width: 100px;
  height: auto;
  float: left; }

img#logo-text {
  width: 160px;
  height: auto;
  float: left; }

@media (max-width: 999px) {
  #logo-holder {
    height: 50px;
    width: 35%;
    margin-left: 5%;
    float: left; }
    #logo-holder img#logo {
      width: 100px;
      height: auto;
      float: left;
      position: relative;
      top: 0px; }
    #logo-holder img#logo-text {
      width: 160px;
      height: auto;
      float: left;
      position: relative;
      top: -6px;
      left: 4px; }

  #main-nav {
    float: none; }

  .menu-main-nav-container ul#menu-main-nav {
    margin: 0;
    padding: 0; }

  #main-nav #menu-main-nav {
    margin-top: 0; } }
#top-links {
  padding: 15px;
  margin: 0 auto;
  width: 65%;
  color: #a3c8f7; }
  #top-links #top-links-transit-description {
    float: left; }
  #top-links #top-links-phone {
    float: right; }

@media (max-width: 799px) {
  #top-links {
    padding: 0x;
    margin: 0 auto;
    display: block;
    width: auto;
    color: #a3c8f7;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3px; }
    #top-links #top-links-transit-description {
      float: none;
      display: inline-block; }
    #top-links #top-links-phone {
      float: none;
      margin-top: 5px;
      display: inline-block; } }
@media (max-width: 800px -1) {
  #main-nav {
    float: none;
    width: 100%;
    text-align: center; }
    #main-nav .menu-main-nav-container {
      display: inline-block; }
      #main-nav .menu-main-nav-container ul#menu-main-nav {
        margin: 0;
        padding: 0;
        display: inline-block; }

  #logo-holder {
    float: none; } }
.menu-main-nav-container ul {
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.35);
  letter-spacing: 2.5px;
  font-size: .8em; }

.menu-main-nav-container li {
  margin: 0;
  padding: 0; }

.menu-main-nav-container a {
  margin: 0;
  padding: 0; }

.menu-main-nav-container ul {
  list-style: none; }

.menu-main-nav-container a {
  text-decoration: none; }

.menu-main-nav-container {
  /* This means on every screen no matter the size, the width will cover the top  */
  line-height: normal;
  text-align: center;
  vertical-align: middle; }

.menu-main-nav-container > ul > li {
  float: left;
  margin-left: 15px;
  /* This is when the drop down box appears */
  position: relative;
  padding: 15px 10px; }

.menu-main-nav-container > ul > li {
  cursor: pointer; }

.menu-main-nav-container > ul > li > i {
  width: 20px;
  height: 20px;
  background: green;
  display: block;
  clear: both;
  margin: 0 auto; }

.menu-main-nav-container ul ul a:link,
.menu-main-nav-container ul ul a:active,
.menu-main-nav-container ul ul a:hover,
.menu-main-nav-container ul ul a:visited {
  color: white !important; }

.menu-main-nav-container > ul > li > a {
  color: white; }

.menu-main-nav-container > ul > li > a:hover, .menu-main-nav-container > ul > li > a:visited, .menu-main-nav-container > ul > li > a:active {
  color: #fafafa !important; }

.menu-main-nav-container > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  padding: 0px 0 0 0;
  background-color: #004ec1;
  border: 2px solid white;
  text-align: left;
  /* This is for the text when box is dropped down, centered isnt always totally in the middle so best to have on the left */
  position: absolute;
  top: 65px;
  /* This is for the drop down annimation */
  left: 50%;
  margin-left: -92px;
  width: 180px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4); }

.menu-main-nav-container > ul > li:hover > ul {
  opacity: 1;
  top: 65px;
  /* This is how far from the top the drop down annimation will go  */
  visibility: visible;
  z-index: 150; }

.menu-main-nav-container > ul > li > ul:before {
  content: '';
  display: block;
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 10px;
  /* The border on the drop down box  */
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px; }

.menu-main-nav-container > ul ul > li {
  position: relative;
  text-align: center; }

.menu-main-nav-container ul ul a {
  /* This is the drop down menu, change font or size when its drops down */
  color: #323232;
  font-family: Verdana, 'Lucida Grande';
  font-size: 13px;
  padding: 10px 8px 10px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: block; }

.menu-main-nav-container ul ul li a:link,
.menu-main-nav-container ul ul li a:active,
.menu-main-nav-container ul ul li a:hover {
  color: white; }

.menu-main-nav-container ul ul a:hover {
  background-color: #0063f4; }

.menu-main-nav-container ul ul ul {
  /* In this build i havent included a sub sub menu in, but here is the code if ever needed */
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -16px;
  left: 206px;
  /* This is for a sub sub menu */
  padding: 16px 0 20px 0;
  background-color: #fafafa;
  text-align: left;
  width: 160px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4); }

.menu-main-nav-container ul ul > li:hover > ul {
  opacity: 1;
  left: 196px;
  visibility: visible; }

.menu-main-nav-container ul ul a:hover {
  background-color: #0063f4;
  color: white; }

.menu-main-nav-container ul li svg {
  display: block;
  width: 30px;
  height: 20px;
  margin: 0 auto;
  position: relative;
  top: 0;
  -webkit-transition: all .2s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.menu-main-nav-container ul li ul li .main-nav-svg-holder {
  display: none; }

.menu-main-nav-container ul li:hover svg {
  top: -4px; }

#commuter-svg path, #commuter-svg circle, #dial-a-ride-svg path, #dial-a-ride-svg circle, #local-svg path, #local-svg circle, #how-to-ride-svg path, #how-to-ride-svg circle {
  fill: #90baf8; }

#commuter-svg path.hover, #commuter-svg circle.hover, #dial-a-ride-svg path.hover, #dial-a-ride-svg circle.hover, #local-svg path.hover, #local-svg circle.hover, #how-to-ride-svg path.hover, #how-to-ride-svg circle.hover {
  fill: #b3cdf5; }

.main-nav-svg-holder {
  height: 34px; }

#menu-item-12 svg {
  width: 36.5px;
  height: 25px; }

#menu-item-15 svg {
  width: 40.5px; }

#menu-item-13 svg {
  width: 27px;
  height: 25px; }

#menu-item-14 svg {
  width: 20px;
  height: 26px; }

@media (min-width: 1000px) {
  img#logo {
    width: 269px;
    height: auto;
    position: relative;
    bottom: -5px;
    z-index: 100; }

  img#logo-text {
    width: 39%;
    height: auto;
    position: relative;
    bottom: -10px;
    left: -20px; } }
#planner-holder {
  position: relative; }

#planner-box {
  position: absolute;
  top: 100px;
  left: 14px;
  background: #004ec1;
  color: white;
  z-index: 100;
  border: 2px solid white;
  -webkit-box-shadow: 0px 4px 34px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 34px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 34px -9px rgba(0, 0, 0, 0.75);
  height: 74px;
  width: 242px;
  -webkit-transition: left .4s,top .4s;
  /* Safari */
  transition: left .4s,top .4s; }
  #planner-box .minimized-hidden {
    display: none; }
  #planner-box .trip-planner-label {
    text-transform: uppercase;
    font-size: 1em; }
  #planner-box #trip-planner-title {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px; }
  #planner-box #planner-form-holder {
    float: left;
    width: 84%;
    padding: 1%; }
    #planner-box #planner-form-holder input#start-location {
      width: 92%;
      border: 0;
      background: 0;
      background: #055ad9;
      border: 1px solid #b0c8ec;
      margin: 2%;
      height: 17px;
      padding: 5px 2%;
      opacity: 1; }
    #planner-box #planner-form-holder input[type=text] {
      opacity: 0; }
  #planner-box #expand-planner-button {
    width: 8.6%;
    padding: 0 2%;
    float: right;
    height: 74px;
    line-height: 74px;
    white-space: nowrap;
    border-left: 1px solid #759fdd;
    cursor: pointer;
    text-align: center; }
  #planner-box #expand-planner-button:hover {
    background: #0063f4; }

#planner-box.expanded {
  width: 100%;
  left: 0px;
  top: 80px; }
  #planner-box.expanded .minimized-hidden {
    display: inherit; }
  #planner-box.expanded #trip-planner-title {
    float: left;
    margin: 10px 5px;
    margin-top: 16px; }
  #planner-box.expanded .trip-planner-label {
    float: left;
    width: auto;
    height: auto; }
  #planner-box.expanded #planner-form-holder {
    position: relative; }
    #planner-box.expanded #planner-form-holder input#start-location {
      margin: 0;
      margin: 10px 5px;
      float: left;
      width: 70px; }
    #planner-box.expanded #planner-form-holder input[type=text] {
      margin: 10px 5px;
      position: relative;
      display: block;
      float: left;
      width: 70px;
      height: inherit;
      background: 0;
      background: #055ad9;
      border: 1px solid #b0c8ec;
      height: 17px;
      padding: 5px 2%;
      opacity: 1; }

@media (max-width: 999px) {
  #planner-box {
    top: 40px; }

  #planner-box.expanded {
    top: 10px;
    border-left: 0;
    border-right: 0; } }
@media (max-width: 799px) {
  #planner-box {
    width: 100%;
    float: none;
    position: relative;
    display: block;
    top: 0;
    left: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-right: 0;
    border-left: 0; } }
#path-highlights > g,
#path-highlights > path {
  opacity: 0; }

#home-map {
  overflow: hidden;
  background: #4487d6; }
  #home-map #home-map-inner {
    background: url(../images/mag_glow.jpg);
    background-size: cover;
    -webkit-transition: margin-top .3s;
    /* Safari */
    transition: margin-top .3s;
    margin-top: 0; }
  #home-map #home-map-inner.moved-down {
    margin-top: 150px; }
  #home-map img#map-vector-base {
    width: 100%; }
  #home-map #home-map-top-border, #home-map #home-map-bottom-border {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover; }
  #home-map #home-map-top-border {
    height: 2px;
    background: url(../images/home_map_lines.png); }
  #home-map #home-map-bottom-border {
    height: 2px;
    background: url(../images/home_map_lines.png);
    background-position: 0px -3px; }

#home-map.top-fixed {
  position: fixed;
  top: 0;
  z-index: 999; }

@media (max-width: 1000px) {
  #home-map #home-map-top-border, #home-map #home-map-bottom-border {
    background-image: none;
    background-color: #89b3e5;
    height: 1px; } }
#home-map #home-map-inner {
  width: 114%;
  max-width: 1571px;
  position: relative;
  left: -7%; }

#home-map.top-fixed #home-map-inner {
  width: 114%;
  max-width: 9999999px; }

@media (min-width: 1400px) {
  #home-map #home-map-inner {
    width: 100%;
    left: 0%; } }
@media (min-width: 1400px) and (max-width: 100px) {
  #home-map #home-map-inner {
    width: 110%;
    left: -5%; } }
g#hovers polyline, g#hovers polygon, g#hovers line, g#hovers path {
  cursor: pointer;
  opacity: 0; }

polyline:hover, polygon:hover, line:hover {
  cursor: pointer; }

#interactive-map-link-dashed-line {
  width: 95%;
  border-bottom: 1px dashed white;
  height: 53px;
  margin-bottom: 53px; }
  #interactive-map-link-dashed-line a:link,
  #interactive-map-link-dashed-line a:visited,
  #interactive-map-link-dashed-line a:active,
  #interactive-map-link-dashed-line a:link {
    text-decoration: none; }
  #interactive-map-link-dashed-line #interactive-map-home-button {
    background: #004ec1;
    color: white;
    width: 289px;
    max-width: 80%;
    height: 15px;
    text-transform: uppercase;
    border: 2px solid white;
    padding: 15px;
    position: relative;
    bottom: -25px;
    text-align: center;
    cursor: pointer;
    text-decoration: none; }
    #interactive-map-link-dashed-line #interactive-map-home-button a:link, #interactive-map-link-dashed-line #interactive-map-home-button a:active, #interactive-map-link-dashed-line #interactive-map-home-button a:visited {
      text-decoration: none; }
    #interactive-map-link-dashed-line #interactive-map-home-button i {
      border-left: 7px solid white;
      border-bottom: 7px solid transparent;
      border-top: 7px solid transparent;
      border-right: 0px;
      display: inline-block;
      width: 10px;
      height: 0px;
      margin-left: 10px;
      position: relative;
      top: 1px; }
  #interactive-map-link-dashed-line #interactive-map-home-button:hover {
    background: #0063f4; }

#home-banner-holder img {
  border: 1px solid white;
  width: -moz-calc(100% - 2px);
  /* WebKit */
  width: -webkit-calc(100% - 2px);
  /* Opera */
  width: -o-calc(100% - 2px);
  /* Standard */
  width: calc(100% - 2px); }

@media (max-width: 1000px) {
  #home-banner-holder img {
    border-right: 0;
    border-left: 0;
    width: 100%; } }
#home-page-service-description {
  color: white;
  padding-top: 30px;
  border-top: #7a8ba3 solid 1px;
  margin-top: 15px;
  font-size: .9em;
  line-height: 1.4em; }
  #home-page-service-description .inner {
    display: block;
    margin: 10px;
    margin-bottom: 20px;
    clear: both; }
    #home-page-service-description .inner a:link {
      color: #8ebcff;
      clear: both;
      display: block; }
  @media (min-width: 1000px) {
    #home-page-service-description .inner {
      margin: 0px; } }

#home-page-quote-holder {
  text-align: center;
  padding-top: 20px; }

#home-page-quote,
#home-page-quote-author {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  display: inline-block; }

#home-page-quote {
  font-size: 1.9em;
  line-height: 1.5em; }

#home-page-quote-author {
  font-size: 1em;
  margin-bottom: 20px; }

#dark-home-bg {
  background: #00204e;
  /* Old browsers */ }

@media (min-width: 1400px) {
  #dark-home-bg {
    background: #13253b;
    /* Old browsers */
    background: -moz-linear-gradient(left, #13253b 0%, #001430 0%, #001e4a 20%, #001e4a 82%, #001430 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #13253b), color-stop(0%, #001430), color-stop(20%, #001e4a), color-stop(82%, #001e4a), color-stop(100%, #001430));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #13253b 0%, #001430 0%, #001e4a 20%, #001e4a 82%, #001430 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #13253b 0%, #001430 0%, #001e4a 20%, #001e4a 82%, #001430 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #13253b 0%, #001430 0%, #001e4a 20%, #001e4a 82%, #001430 100%);
    /* IE10+ */
    background: linear-gradient(to right, #13253b 0%, #001430 0%, #001e4a 20%, #001e4a 82%, #001430 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13253b', endColorstr='#001430',GradientType=1 );
    /* IE6-9 */ } }
footer#main-footer {
  background: #00204e;
  width: 100%; }
  footer#main-footer .inner {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    color: rgba(135, 155, 185, 0.8);
    font-size: .8em; }

@media (min-width: 1400px) {
  footer#main-footer {
    background: #13253b;
    /* Old browsers */
    background: -moz-linear-gradient(left, #13253b 0%, #001430 0%, #001e4a 20%, #001e4a 82%, #001430 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #13253b), color-stop(0%, #001430), color-stop(20%, #001e4a), color-stop(82%, #001e4a), color-stop(100%, #001430));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #13253b 0%, #001430 0%, #001e4a 20%, #001e4a 82%, #001430 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #13253b 0%, #001430 0%, #001e4a 20%, #001e4a 82%, #001430 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #13253b 0%, #001430 0%, #001e4a 20%, #001e4a 82%, #001430 100%);
    /* IE10+ */
    background: linear-gradient(to right, #13253b 0%, #001430 0%, #001e4a 20%, #001e4a 82%, #001430 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13253b', endColorstr='#001430',GradientType=1 );
    /* IE6-9 */ } }
.menu-home_rider_info-container h3,
.menu-home_about-container h3 {
  color: #e1edff;
  text-transform: uppercase;
  font-size: .9em;
  border-bottom: #7a8ba3 solid 1px;
  margin-right: 20px;
  margin-bottom: 0;
  padding-bottom: 5px; }
.menu-home_rider_info-container ul,
.menu-home_about-container ul {
  width: 50%;
  float: left;
  list-style: none;
  padding: 0; }
  .menu-home_rider_info-container ul a:link, .menu-home_rider_info-container ul a:active, .menu-home_rider_info-container ul a:visited,
  .menu-home_about-container ul a:link,
  .menu-home_about-container ul a:active,
  .menu-home_about-container ul a:visited {
    color: #beefff;
    text-decoration: none;
    font-size: .9em;
    font-weight: normal; }
  .menu-home_rider_info-container ul a:hover,
  .menu-home_about-container ul a:hover {
    color: #f1fcff; }

.menu-home_rider_info-container,
.menu-home_about-container {
  width: 50%;
  float: left; }

.menu-home_about-container {
  width: 50%; }
  .menu-home_about-container h3 {
    margin-right: 0px;
    margin-bottom: 0;
    padding-bottom: 5px;
    width: 100%; }

@media (max-width: 1000px) {
  .menu-home_rider_info-container,
  .menu-home_about-container {
    width: 48%;
    float: left;
    padding-right: 1%;
    padding-left: 1%; } }
@media (max-width: 800px) {
  .menu-home_rider_info-container {
    width: 96%;
    float: left;
    padding: 2%; }

  .menu-home_about-container {
    width: 96%;
    float: left;
    padding: 2%; } }
