//base



html,body {
	background: #004ec0;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: $karla;
	//font-weight:
}

.centered {
	margin: 0 auto;
}

.max-width {
 width: 1200px;
 max-width: 100%;
}

.strd-width {
 	width: 1000px;
 	max-width: 100%;
}

.full-width {
	width: 100%; 
}

@media (max-width: 1000px) {
	.max-width {
		 width: 100%;
	}

	.strd-width {
		width: 100%;
	}

}

@media (max-width: 1200px) {
	.max-width {
		 width: 100%;
	}

}

#main-nav {
 
}

.main-blue-grad-bg {
	background: $main-blue;
}

@media (min-width: 1400px) {
	.main-blue-grad-bg {
		background: #13253b; /* Old browsers */
background: -moz-linear-gradient(left,  #13253b 0%, #003c94 0%, #014fc1 20%, #014fc1 82%, #003c94 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#13253b), color-stop(0%,#003c94), color-stop(20%,#014fc1), color-stop(82%,#014fc1), color-stop(100%,#003c94)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #13253b 0%,#003c94 0%,#014fc1 20%,#014fc1 82%,#003c94 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #13253b 0%,#003c94 0%,#014fc1 20%,#014fc1 82%,#003c94 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #13253b 0%,#003c94 0%,#014fc1 20%,#014fc1 82%,#003c94 100%); /* IE10+ */
background: linear-gradient(to right,  #13253b 0%,#003c94 0%,#014fc1 20%,#014fc1 82%,#003c94 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13253b', endColorstr='#003c94',GradientType=1 ); /* IE6-9 */


	}
}



.base-only {
	display: inherit;
}

.min-sml,.only-med,.only-stnd,.min-med, .only-med, .only-stnd, .only-large, .min-stnd, .min-large {
	display: none;
}




@media (min-width: $responsive-sml) {
	.base-only {
		display: none;
	}
	
	.only-sml {
		display: inherit;
	}
	.min-sml {
		display: inherit;
	}
}

@media (min-width: $responsive-med) {
	.only-sml {
		display: none;
	}
	.max-sml {
		display: none;
	}
	.only-med {
		display: inherit;
	}
	.min-med {
		display: inherit;
	}
}

@media (min-width: $responsive-stnd) {
	.only-med {
		display: none;
	}
	.max-med {
		display: none;
	}
	.only-stnd {
		display: inherit;
	}
	.min-stnd {
		display: inherit; 
	}
}

@media (min-width: $responsive-large) {
	.only-stnd {
		display: none;
	}
	.max-stnd {
		display: none;
	}
	.only-large {
		display: inherit;
	}
	.min-large {
		display: inherit;
	}
}



