$commuter-color: #024fc1;
$_50X-color: #00c400;
$cameron-park-color: #ffa700;
$diamond-springs-color: #8801aa;
$placerville-color: #ff002a;
$pollock-pines-color: #8a5e3b;
$saturday-express-color: #959595;


$karla: 'Karla', sans-serif;