$commuter-color: #024fc1;
$_50X-color: #00c400;
$cameron-park-color: #ffa700;
$diamond-springs-color: #8801aa;
$placerville-color: #ff002a;
$pollock-pines-color: #8a5e3b;
$saturday-express-color: #959595;
$main-blue: #004ec1;
$dark-bg-link: #beefff; 
$dark-bg: #00204e;
$form-field-bg: #055ad9;
$form-field-border: #b0c8ec;
$light-link: lighten($main-blue,40);

$karla: 'Karla', sans-serif;

$responsive-sml: 650px;
$responsive-med: 800px;
$responsive-stnd: 1000px;
$responsive-large: 1200px;