


#path-highlights > g,
#path-highlights > path{
		//-webkit-transition: opacity .15s;
		//transition: opacity .15s;
		opacity: 0;
}

#home-map {
	background: #4487d6;
	position: relative;	
	
	#home-map-spacer {
		display: block; 
	}
	
	#home-map-inner {
			opacity: 1;
		
			top: 0;
			background-size: cover;	
			-webkit-transition: margin-top .3s, opacity .2s; /* Safari */
			transition: margin-top .3s, opacity .2s;
			margin-top: 0;
			
			
			
	}
	
	@media (max-width: $responsive-stnd) {
		#home-map-inner {
			opacity: 1;
			max-width: 1400px;
			top: 0;
			background-size: cover;	
			-webkit-transition: margin-top .3s, opacity .2s; /* Safari */
			transition: margin-top .3s, opacity .2s;
			margin-top: 0;
			
			
			
		}
	}
	
	
	#home-map-inner.moved-down {
		margin-top: 150px;
	}
	img#map-vector-base {
		width: 100% ;
	}  
	
	#home-map-top-border, #home-map-bottom-border {
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;	
	}
	
	#home-map-top-border {

		height: 2px;
		background: url(../images/home_map_lines.png);
	}
	
	#home-map-bottom-border {

		height: 2px;
		background: url(../images/home_map_lines.png);
		background-position: 0px -3px;

	}
}

#home-map.top-fixed {
	#home-map-inner{
		position: fixed;
		//top: 0; 
		z-index: 999;
		background: #4487d6;
		max-height: 75vh;
	
	}
}



@media (max-width: $responsive-stnd) { 
	#home-map {
		#home-map-top-border, #home-map-bottom-border {
			background-image: none;
			background-color: #89b3e5;
			height: 1px;
		}
	}
}




#home-map {
		
		#home-map-inner {
		
			svg {
			
			}
				
		}
		img#map-vector-base {

		}
	}
	
#home-map.top-fixed {
	#home-map-inner {
			width: 100%;
			
			
	}
}
@media (min-width: 1400px) {

	#home-map {
		
		#home-map-inner {
				width: 110%;
				position: relative;
				//left:-5%;
				max-width: 1400px;
			
		}
		img#map-vector-base {

		}
	}
}



// map svg specific


g#hovers {
	polyline, polygon,  line, path {
		cursor: pointer;
		opacity: 0;
	}		
}

.route-hover {

}

polyline:hover,polygon:hover,line:hover {
	cursor: pointer;
}

#stroke-paths,#paths-expanded {
		//-webkit-transition: opacity .4s; /* Safari */
		//transition: opacity .4s; 
		opacity: 1;
}