
#path-highlights > g,
#path-highlights > path{
		//-webkit-transition: opacity .15s;
		//transition: opacity .15s;
		opacity: 0;
}

#home-map {
	overflow: hidden;
	background: #4487d6;
	
	

	
	#home-map-inner {
			background: url(../images/mag_glow.jpg);
			background-size: cover;	
			-webkit-transition: margin-top .3s; /* Safari */
			transition: margin-top .3s;
			margin-top: 0;
			
			
			
	}
	
	
	#home-map-inner.moved-down {
		margin-top: 150px;
	}
	img#map-vector-base {
		width: 100% ;
	}  
	
	#home-map-top-border, #home-map-bottom-border {
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;	
	}
	
	#home-map-top-border {

		height: 2px;
		background: url(../images/home_map_lines.png);
	}
	
	#home-map-bottom-border {

		height: 2px;
		background: url(../images/home_map_lines.png);
		background-position: 0px -3px;

	}
}

#home-map.top-fixed {
	position: fixed;
	top: 0; 
	z-index: 999;
	}



@media (max-width: $responsive-stnd) { 
	#home-map {
		#home-map-top-border, #home-map-bottom-border {
			background-image: none;
			background-color: #89b3e5;
			height: 1px;
		}
	}
}




#home-map {
		
		#home-map-inner {
			width: 114%;
			max-width: 1571px;
			position: relative;
			left: -7%;
			svg {
			
			}
				
		}
		img#map-vector-base {

		}
	}
	
#home-map.top-fixed {
	#home-map-inner {
			width: 114%;
			max-width: 9999999px;;
	}
}
@media (min-width: 1400px) {

	#home-map {
		
		#home-map-inner {
			width: 100%;
			//	position: relative;
				left:0%;
			svg {
				
			}	
		}
		img#map-vector-base {

		}
	}
}
@media (min-width: 1400px) {
@media (max-width: 100px) {

	#home-map {

		#home-map-inner {
			width: 110%;
			//	position: relative;
				left:-5%;
			svg {
				
			}	
		}
		img#map-vector-base {

		}
	}
}
}


// map svg specific


g#hovers {
	polyline, polygon,  line, path {
		cursor: pointer;
		opacity: 0;
	}		
}

.route-hover {

}

polyline:hover,polygon:hover,line:hover {
	cursor: pointer;
}