//planner.scss

.pac-container {
	z-index: 99999;
}

$planner-anim-time: .4s;

#planner-holder {
	position: relative;
	z-index: 99999;
}

#ui-datepicker-div {
	z-index: 999999 !important; 
}

#planner-box {
	position: absolute;
	top: 100px;
	left: 14px;
	background: #004ec1;
	color: white;
	z-index: 100;
	border: 2px solid white;
	-webkit-box-shadow: 0px 4px 34px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 34px -9px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 34px -9px rgba(0,0,0,0.75);
	height: 74px;
	width: 302px;
	
	-webkit-transition: left .5s,top .5s; /* Safari */
   transition: left .5s,top .5s;
    
	
	input,label,form span {
		display: none;
	}
	
	.trip-planner-label {
		text-transform: uppercase;
		font-size: 1em;
	}
	#trip-planner-title {
		text-align: center;
		margin-top: 6px;
		margin-bottom: 6px;
	
		
	}
	
	.minimized-hidden {
		display: none;
	}
	
	#planner-form-holder {
		float: left;
		
		padding:5px 5px;
		
		
		td#start-cell {
			display: table-cell;
		}
		input#saddr{
			
			width: 80%;
			border: 0;
			background: 0;
			background: $form-field-bg;
			border: 1px solid $form-field-border;
			margin: 2%;
			height: 17px;
			padding: 5px 2%;
			display: inherit;
			
			
		}
		
		input[type=text] {
			
		//	opacity: 0;
						
		//	-webkit-transition: width $planner-anim-time,height $planner-anim-time,opacity $planner-anim-time; /* Safari */
		//	transition:  width $planner-anim-time,height $planner-anim-time,opacity $planner-anim-time;
		
			@include placeholder {
    			color: #bbcff6;
    			text-transform: uppercase;
    			text-align: center;
    			font-size: .9em;
 			 }
		
		}
	}
	
	#expand-planner-button {
		width: 8.6%;
		padding: 0 2%;
		float: right;
		 height: 74px;
  		line-height: 74px;
 		 white-space: nowrap;
 		 border-left: 1px solid #759fdd;
 		 cursor: pointer;
 		 text-align: center;
 		 span.close {
 		 	display: none;
 		 }
	}
	#expand-planner-button:hover {
		background: lighten($main-blue,10);
		
	}
	
	table {
		tr {
			td {
				position: relative;
			}
		}
	}
	
	label[for=saddr] {
		
	
	}
}

#planner-holder.hidden #planner-box {
	top: -300px;
}

#planner-box.expanded {
 	width: 100%;
 	//left: 0px;
 	//top: 80px;
 		height: auto;
 	
 	input,label {
		display: inherit;
	}
	
	table {
		height: 100px;
	}	
 	
 	.minimized-hidden {
		display: inherit;
	}
	#trip-planner-title {
		//float: left;
		//margin: 10px 5px;
		//margin-top: 16px;
	
	}
	.trip-planner-label {
		//float: left;
		//width: auto;
		//height: auto;
	}
		#planner-form-holder {
			position: relative;
			
			
			td#start-cell {
			
				
			}
			
			input[type=text]#saddr { 
			/*	margin: 0;
				margin: 10px 5px;
				float: left;
				position: absolute;
				left: 0;
				top: 0;*/
				
			}
			input[type=text] {
				margin: 10px 5px;
				
				position: relative;
				
				display: block;
				float: left;
				
				height: inherit;
				
				background: 0;
				background: $form-field-bg;
				border: 1px solid $form-field-border;
				
				height: 17px;
				padding: 5px 2%;
				opacity: 1;
				
			}
		}
		
		#expand-planner-button {
			
			content: 'Close';
			color: white;
			border: 0;
			position: absolute;
			height: 20px;
			top: -22px;
			background: $main-blue;
			left: -2px;
			width: 33px;
			height: 20px;
			font-size: .8em;
			line-height: 2em;
			border: 2px solid white;
			border-bottom: 0;	
			span.close {
				height: 20px;
				display: inherit;
				position: absolute;
				top: 0;
			}
			span.open {
 		 	display: none;
 		 }
			
		}
	
 	
}

@media (max-width: ($responsive-stnd - 1)) {
	#planner-box {
		top: 40px;
	}
	#planner-box.expanded {
		top: 10px;
		border-left: 0;
		border-right: 0;
	}		

}


@media (max-width: ($responsive-med - 1)) {
	#planner-box {
		width: 100%;
		float: none;
		position: relative;
		display: block;
		top: 0;
		left: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-right: 0;
		border-left: 0;
		
	}
	
}


#ui-datepicker-div {font-size:60%;}
.obscure { 
position: absolute !important; 
clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ 
clip: rect(1px, 1px, 1px, 1px); 
} 
