//planner.scss
#planner-holder {
	position: relative;
}
#planner-box {
	position: absolute;
	top: 100px;
	left: 14px;
	background: #004ec1;
	color: white;
	z-index: 100;
	border: 2px solid white;
	-webkit-box-shadow: 0px 4px 34px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 34px -9px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 34px -9px rgba(0,0,0,0.75);
	height: 74px;
	width: 242px;
	
	-webkit-transition: width .4s,left .4s,top .4s; /* Safari */
    transition: width .4s,left .4s,top .4s;
    
	
	.minimized-hidden {
		display: none;
	}
	
	#trip-planner-title {
		text-transform: uppercase;
		text-align: center;
	}
	
	#planner-form-holder {
		float: left;
		width: 84%;
		padding: 1%;
	}
	
	#expand-planner-button {
		width: 8.6%;
		padding: 0 2%;
		float: right;
		 height: 74px;
  		line-height: 74px;
 		 white-space: nowrap;
 		 border-left: 1px solid #759fdd;
 		 cursor: pointer;
 		 text-align: center;
	}
	#expand-planner-button:hover {
		background: lighten($main-blue,10);
		
	}
}

#planner-box.expanded {
 	width: 100%;
 	left: 0px;
 	top: 80px;
 	.minimized-hidden {
		display: inherit;
	}
 	
}

@media (max-width: ($responsive-stnd - 1)) {
	#planner-box {
		top: 40px;
	}
	#planner-box.expanded {
		top: 10px;
		border-left: 0;
		border-right: 0;
	}		

}


@media (max-width: ($responsive-med - 1)) {
	#planner-box {
		width: 100%;
		float: none;
		position: relative;
		display: block;
		top: 0;
		left: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-right: 0;
		border-left: 0;
		
	}
	
}

