#subpage-social-holder{
	margin-top: 20px;
	svg {
		height: 40px;
	}	
}

	#facebook-home-link {
		width: 30px;
		transition: all .3s;
		cursor: pointer;
		margin-right: 10px;
	}

	#youtube-home-link {
		width: 30px;
		transition: all .3s;
		cursor: pointer;
		margin-right: 10px;
	}

	#twitter-home-link {
		width: 30px;
		transition: all .3s;
		cursor: pointer;
		margin-right: 10px;
	}


	#facebook-home-link:hover {
		-webkit-filter: drop-shadow(0px 0px 5px rgba(255,255,255,0.7)); filter: drop-shadow(0px 0px 5px rgba(255,255,255,0.7));
	}

	#youtube-home-link:hover {
		-webkit-filter: drop-shadow(0px 0px 5px rgba(255,255,255,0.7)); filter: drop-shadow(0px 0px 5px rgba(255,255,255,0.7));
	}

	#twitter-home-link:hover {
		-webkit-filter: drop-shadow(0px 0px 5px rgba(255,255,255,0.7)); filter: drop-shadow(0px 0px 5px rgba(255,255,255,0.7));
	}
